<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>정보수정</title>
	<!-- daum 우편번호 서비스 -->
	<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
</head>

<body>
	<h2>정보수정</h2>
	<!-- 가입시에는 버튼에 온클릭이었지만, 수정시에는 바로 제출되어서 방식을 바꿈 -->
	<!-- 가입에서 방식을 바꿨더니 required검사 후 유효성검사가 진행되어서 방식을 다르게 둠 -->
	<form method="post" th:object="${member}" onsubmit="return validForm2();">
		<table>
			<tr>
				<td>유형</td>
				<td>
					<th:block th:if="${member.memberType==1}">
						원장님
					</th:block>
					<th:block th:unless="${member.memberType==2}">
						강사님
					</th:block>
					<th:block th:unless="${member.memberType==3}">
						수강생
					</th:block>
				</td>
			</tr>
			<tr>
				<td>아이디</td>
				<td>
					<input type="text" id="memberId" name="memberId" th:field="*{memberId}" required
						placeholder="영문자나 숫자로 4자 이상" readonly>
				</td>
			</tr>
			<tr>
				<td>이름</td>
				<td><input type="text" id="memberName" name="memberName" th:field="*{memberName}" required
						placeholder="실명을 입력하세요(한글 2~19자)" readonly></td>
			</tr>
			<tr>
				<td>이메일</td>
				<td>
					<input type="email" id="memberEmail" name="memberEmail" th:field="*{memberEmail}" required
						placeholder="abc@test.com" readonly>
				</td>
			</tr>
			<tr>
				<td colspan="2" align="center">∨∨변경가능∨∨</td>
			</tr>
			<tr id="pwFrom">
				<td>비밀번호</td>
				<td>
					<input type="password" id="pw1" name="pw1" placeholder="변경을 원하신다면 현재 비밀번호를 입력해주세요">
					<input type="button" value="변경하러가기" onclick="pwChk2()">
				</td>
			</tr>
			<tr id="pwTo1" style="display:none">
				<td>새 비밀번호</td>
				<td><input type="password" id="memberPw" name="memberPw" th:field="*{memberPw}"
						placeholder="(임시)4자 이상 - 테스트 중이니까~"></td>
			</tr>
			<tr id="pwTo2" style="display:none">
				<td>새 비밀번호 확인</td>
				<td><input type="password" id="pw2" placeholder="새 비밀번호를 다시 입력하세요" onblur="pwChk()">
					<div id="pwResult"></div>
				</td>
			</tr>
			<tr>
				<td>연락처</td>
				<td>
					<input type="tel" id="memberPhone" name="memberPhone" th:field="*{memberPhone}" required
						oninput="this.value = this.value.replace(/[^0-9]/g, '');" placeholder="01012345678">
				</td>
			</tr>
			<tr>
				<td>우편번호</td>
				<td>
					<input type="text" id="memberZipcode" name="memberZipcode" th:field="*{memberZipcode}" required
						onclick="daumPostCode()">
				</td>
			</tr>
			<tr>
				<td>주소</td>
				<td>
					<input type="text" id="memberAddress" name="memberAddress" th:field="*{memberAddress}" required
						onclick="daumPostCode()">
					<span id="guide" style="color:#999;display:none"></span>
				</td>
			</tr>
			<tr>
				<td>상세주소</td>
				<td>
					<input type="text" id="memberAddressDetail" name="memberAddressDetail"
						th:field="*{memberAddressDetail}" required placeholder="상세주소를 입력하세요">
					<span id="extraAddress" style="font-size:x-small;"></span>
				</td>
			</tr>
			<tr>
				<td>자기소개</td>
				<td>
					<textarea id="memberProfile" name="memberProfile" th:field="*{memberProfile}" rows="4" cols="50"
						placeholder="(선택사항)자유롭게 자기소개를 작성해주세요"></textarea>
				</td>
			</tr>
		</table>
		<!-- 가입 버튼 -->
		<div>
			<button type="button" onclick="window.location.href='/member/mypage'">취소</button>
			<button type="submit">수정</button>
		</div>
	</form>
	<script th:inline="javascript">
		function pwChk2() {
			var sessionPw = /*[[${member.memberPw}]]*/ "";
			var inputPw = document.getElementById("pw1").value;
			if (sessionPw == inputPw) {
				document.getElementById("pwFrom").style.display = 'none';
				document.getElementById("pwTo1").style.display = 'table-row';
				document.getElementById("pwTo2").style.display = 'table-row';
				alert("비밀번호가 확인되었습니다.");
				document.getElementById("memberPw").focus();
			} else {
				alert("비밀번호가 일치하지 않습니다.");
				document.getElementById("pw1").focus();
			}
		}
		function pwChk() {
			var pw = document.getElementById("memberPw").value;
			var pw2 = document.getElementById("pw2").value;
			var isValid = /^[^\s]{4,}$/.test(pw);	// 정규식을 이용한 유효성 검사 - 공백없이 4자 이상
			var resultElement = document.getElementById("pwResult");
			if (!isValid) {
				resultElement.innerHTML = "<span style='color:red;'>비밀번호가 올바르지 않습니다.</span>";
				document.getElementById("memberPw").focus();
				return; // 유효성 검사 실패 시 일치 검사를 진행하지 않음
			}
			if (pw !== pw2) {
				resultElement.innerHTML = "<span style='color:red;'>비밀번호가 일치하지 않습니다.</span>";
			} else {
				document.getElementById("memberPw").readOnly = true;
				resultElement.innerHTML = "<span style='color:green;'>비밀번호가 일치합니다.</span>";
				document.getElementById("memberName").focus();
			}
		}

		function daumPostCode() {
			new daum.Postcode({
				oncomplete: function (data) {
					// 도로명 주소의 노출 규칙에 따라 주소를 표시한다.
					// 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
					var roadAddr = data.roadAddress; // 도로명 주소 변수
					var extraRoadAddr = ''; // 참고 항목 변수

					// 법정동명이 있을 경우 추가한다. (법정리는 제외)
					// 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
					if (data.bname !== '' && /[동|로|가]$/g.test(data.bname)) {
						extraRoadAddr += data.bname;
					}
					// 건물명이 있고, 공동주택일 경우 추가한다.
					if (data.buildingName !== '' && data.apartment === 'Y') {
						extraRoadAddr += (extraRoadAddr !== '' ? ', ' + data.buildingName : data.buildingName);
					}
					// 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
					if (extraRoadAddr !== '') {
						extraRoadAddr = ' (' + extraRoadAddr + ')';
					}

					// 우편번호와 주소 정보를 해당 필드에 넣는다.
					document.getElementById('memberZipcode').value = data.zonecode;
					document.getElementById("memberAddress").value = roadAddr;

					// 참고항목 문자열이 있을 경우 해당 필드에 넣는다.
					if (roadAddr !== '') {
						document.getElementById("extraAddress").innerHTML = extraRoadAddr;
					} else {
						document.getElementById("extraAddress").innerHTML = '';
					}

					var guideTextBox = document.getElementById("guide");
					// 사용자가 '선택 안함'을 클릭한 경우, 예상 주소라는 표시를 해준다.
					if (data.autoRoadAddress) {
						var expRoadAddr = data.autoRoadAddress + extraRoadAddr;
						guideTextBox.innerHTML = '(예상 도로명 주소 : ' + expRoadAddr + ')';
						guideTextBox.style.display = 'block';
					} else {
						guideTextBox.innerHTML = '';
						guideTextBox.style.display = 'none';
					}
					document.getElementById("memberAddressDetail").focus();
				}
			}).open();
		}

		function validForm2() {
			var memberPw = document.getElementById("memberPw");
			var pw2 = document.getElementById("pw2").value;
			var pwResult = document.getElementById("pwResult").textContent;
			var memberPhone = document.getElementById("memberPhone").value;
			var phonePattern = /^\d{10,11}$/;	// 숫자 10~11자
			var memberZipcode = document.getElementById("memberZipcode").value;
			var zipcodePattern = /^\d{5}$/;	// 숫자 5자
			var memberAddressDetail = document.getElementById("memberAddressDetail").value;
			var detailPattern = /^.{1,}$/;	// 1자 이상

			if (pw2.trim() !== '') {
				if (!pwResult.includes("일치합니다")) {
					alert("비밀번호가 올바르지 않습니다. 비밀번호가 일치해야 합니다.");
					document.getElementById("pw2").focus();
					return false;
				}
			} else {
				memberPw.value = /*[[${member.memberPw}]]*/ "";
			}
			if (!phonePattern.test(memberPhone)) {
				alert("전화번호 형식이 올바르지 않습니다.");
				document.getElementById("memberPhone").focus();
				return false;
			}
			if (!zipcodePattern.test(memberZipcode)) {
				alert("우편번호가 올바르지 않습니다.");
				daumPostCode();
				return false;
			}
			if (!detailPattern.test(memberAddressDetail)) {
				alert("주소가 입력되지 않았습니다.");
				document.getElementById("memberAddressDetail").focus();
				return false;
			}
			return true;
		}
	</script>
</body>

</html>