<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>학원페이지개설</title>
	<!-- ajax 사용을 위한 제이쿼리 -->
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<!-- daum 우편번호 서비스 -->
	<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
</head>

<body>
	<h2>학원페이지개설</h2>
	<form method="post">
		<input type="hidden" id="memberId" name="memberId" th:value="${memberId}">
		<input type="hidden" id="labMemberType" name="labMemberType" value="1">
		<table>
			<tr>
				<td>학원로고</td>
				<td><input type="file" id="labLogo" name="labLogo"></td>
			</tr>
			<tr>
				<td>사업자등록번호</td>
				<td><input type="text" id="labBusinessCode" name="labBusinessCode" required></td>
			</tr>
			<tr>
				<td>학원명</td>
				<td><input type="text" id="labName" name="labName" required></td>
			</tr>
			<tr>
				<td>연락처</td>
				<td><input type="text" id="labPhone" name="labPhone" required></td>
			</tr>
			<tr id="addressShort">
				<td>우편번호</td>
				<td><input type="button" onclick="daumPostCode()" value="검색"></td>
			</tr>
			<tr id="addressLong" style="display:none">
				<td>우편번호</td>
				<td>
					<input type="text" id="labZipcode" name="labZipcode" required>
				</td>
			</tr>
			<tr id="addressLong2" style="display:none">
				<td>학원주소</td>
				<td>
					<input type="text" id="labAddress" name="labAddress" required onclick="daumPostcode()">
					<span id="guide" style="color:#999;display:none"></span>
				</td>
			</tr>
			<tr id="addressLong3" style="display:none">
				<td>상세주소</td>
				<td>
					<input type="text" id="labAddressDetail" name="labAddressDetail" required placeholder="상세주소를 입력하세요">
					<span id="extraAddress" style="font-size:x-small;"></span>
				</td>
			</tr>
			<tr>
				<td>학원소개</td>
				<td><textarea id="labIntro" name="labIntro" rows="4" cols="50"></textarea></td>
			</tr>
			<tr>
				<td>학원도장</td>
				<td><input type="file" id="labStamp" name="labStamp"></td>
			</tr>
		</table>
		<div>
			<button type="button" onclick="window.location.href='/member/mylab'">취소</button>
			<button type="submit" onclick="validForm2()">학원등록</button>
		</div>
	</form>
	<script>
		function daumPostCode() {
			new daum.Postcode({
				oncomplete: function (data) {
					// 도로명 주소의 노출 규칙에 따라 주소를 표시한다.
					// 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
					var roadAddr = data.roadAddress; // 도로명 주소 변수
					var extraRoadAddr = ''; // 참고 항목 변수

					// 법정동명이 있을 경우 추가한다. (법정리는 제외)
					// 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
					if (data.bname !== '' && /[동|로|가]$/g.test(data.bname)) {
						extraRoadAddr += data.bname;
					}
					// 건물명이 있고, 공동주택일 경우 추가한다.
					if (data.buildingName !== '' && data.apartment === 'Y') {
						extraRoadAddr += (extraRoadAddr !== '' ? ', ' + data.buildingName : data.buildingName);
					}
					// 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
					if (extraRoadAddr !== '') {
						extraRoadAddr = ' (' + extraRoadAddr + ')';
					}

					// 우편번호와 주소 정보를 해당 필드에 넣는다.
					document.getElementById('labZipcode').value = data.zonecode;
					document.getElementById("labAddress").value = roadAddr;

					// 참고항목 문자열이 있을 경우 해당 필드에 넣는다.
					if (roadAddr !== '') {
						document.getElementById("extraAddress").innerHTML = extraRoadAddr;
					} else {
						document.getElementById("extraAddress").innerHTML = '';
					}

					var guideTextBox = document.getElementById("guide");
					// 사용자가 '선택 안함'을 클릭한 경우, 예상 주소라는 표시를 해준다.
					if (data.autoRoadAddress) {
						var expRoadAddr = data.autoRoadAddress + extraRoadAddr;
						guideTextBox.innerHTML = '(예상 도로명 주소 : ' + expRoadAddr + ')';
						guideTextBox.style.display = 'block';
					} else {
						guideTextBox.innerHTML = '';
						guideTextBox.style.display = 'none';
					}
					// 주소줄 열고 닫기
					document.getElementById("addressShort").style.display = 'none';
					document.getElementById("addressLong").style.display = 'table-row';
					document.getElementById("addressLong2").style.display = 'table-row';
					document.getElementById("addressLong3").style.display = 'table-row';
					// 팝업이 닫힌 후 상세주소입력란으로 포커스 이동
					document.getElementById("labAddressDetail").focus();
				}
			}).open();
		}
	</script>
</body>

</html>